%%-*- erlang-indent-level: 2 -*-
{lib_dirs,            [".."]}.
{erl_opts,            [debug_info, nowarn_shadow_vars]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps, [ {amqp_client, "2.7.0",
          {git, "git://github.com/jbrisbin/amqp_client.git",
          {tag, "rabbitmq_2.7.0"}}}]}.
{xref_checks, [undefined_function_calls]}.
